.h1_header{
    display: flex;
    justify-content: center;
}

.main_form_legend{
    font-weight: bold;
}

.main_form_item{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.main_form{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-gap: 20px;
}

.wrapper > div{
    background-color: aqua;
}